<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="/static/events.css">
</head>
<body>
<header>
    <div class="logo">Scientify</div>
    <nav class="navbar">
        <a href="/mainpage" class="nav-link">Home</a>
        <a href="/profile" class="nav-link">Profile</a>
        <a href="/events" class="nav-link">Events</a>
        <a href="#" class="nav-link">Log Out</a>
    </nav>
</header>

<main>
     <section class="event-list">
        <h1>Upcoming Events</h1>
        <div class="events-container">
            {{ range . }}
            <div class="event-item">
                <h2>{{ .EventTitle }}</h2>
                <p><strong>Date:</strong> {{ .EventDate.Format "2006-01-02" }}</p>
                <p><strong>Time:</strong> {{ .EventTime }}</p>
                <p><strong>Location:</strong> {{ .EventLocation }}</p>
                <p><strong>Description:</strong> {{ .EventDescription }}</p>
                <p><strong>Tags:</strong> {{ .EventTags }}</p>
            </div>
            {{ end }}
        </div>
    </section>
</main>

<footer>
</footer>
</body>
</html>
