<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scientify</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="header-container">
        <p class="logo">S c i e n t i f y</p>
        <nav class="navbar">
            <a href="/mainpage" class="nav-link">Explore</a>
            <a href="#" class="nav-link">About</a>
            <a href="/login" class="nav-link">Log In</a>
            <a href="/register" class="nav-link signup-button">Sign Up</a>
        </nav>
    </div>
</header>

<section class="hero">
    <div class="hero-content">
        <h1 class="hero-title">
            We
            <a href="#" class="tooltip" data-tooltip="Uncover groundbreaking research and ideas that shape our world.">discover</a>,
            <a href="#" class="tooltip" data-tooltip="Dive deeper into the science that surrounds us every day.">understand</a>, and
            <a href="#" class="tooltip" data-tooltip="Celebrate the transformative power of science in our lives.">glorify</a>
            Together
        </h1>
        <p class="hero-subtitle">
            With <a href="#" class="tooltip" data-tooltip="Хз пока что именно добавить сюда. Надо историю придумать">S c i e n t i f y</a>
        </p>
    </div>
</section>
</body>
</html>

