<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page - Scientify</title>
    <link rel="stylesheet" href="/static/mainpage.css">
</head>
<body>

<header>
    <div class="logo">Scientify</div>
    <nav class="navbar">
        <a href="/profile" class="nav-link">Profile</a>
        <a href="/create_event" class="nav-link">Create an Event</a>
        <a href="/events" class="nav-link">Events</a>
        <a href="#" class="nav-link">About Us</a>
    </nav>
</header>

<main>
    <section class="forum-section">
        <h1>Welcome to the Scientify!</h1>
        <p>Scientific forum, where you can go deep into science!.</p>

        <div class="notifications">
            <h2>Latest Events:</h2>
            <ul>
                <li>📢 Lecture "Dream Team Baby" – Almaty, 10 December.</li>
                <li>🌍 Conference "Uhahable" – Astana, 15 December.</li>
                <li>🔬 The Seminar "Bababoy" – Shymkent, 20 December.</li>
            </ul>
        </div>

    </section>
</main>

<footer>
    <div class="site-map">
        <h3>Map of the Website</h3>
        <ul>
            <li><a href="#">Profile</a></li>
            <li><a href="/create_event">Create an Event</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="/register">Sign Up</a></li>
            <li><a href="/login">Log In</a></li>
        </ul>
    </div>
</footer>
</body>
</html>

