<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Profile</title>
  <link rel="stylesheet" href="/static/profile.css">
  <script src="/static/js/profile.js" defer></script>
</head>
<body>
<header>
  <div class="logo">Scientify</div>
  <nav class="navbar">
    <a href="/mainpage" class="nav-link">Home</a>
    <a href="/events" class="nav-link">Events</a>
    <a href="/create_event" class="nav-link">Create Event</a>
    <a href="#" class="nav-link">Log Out</a>
  </nav>
</header>

<main>
  <section class="profile-card">
    <div class="profile-header">
      <img src="/static/profile icon.svg" alt="User Picture" class="profile-pic">
      <h1 class="user-name">{{.UserName}}</h1>
      <p class="user-role">Regular</p>
    </div>
    <div class="profile-details">
      <h2>Information</h2>
      <p><strong>Name:</strong> {{.UserName}}</p>
      <p><strong>Surname:</strong> {{.UserSurname}}</p>
      <p><strong>Email:</strong> {{.UserEmail}}</p>
    </div>
    <div class="profile-actions">
      <button class="edit-profile">Profile Settings</button>
      <button class="delete-account">Delete Account</button>
    </div>
  </section>
</main>

<footer>
</footer>
</body>
</html>
